.design
    background: linear-gradient($light 50%, $dark 50%) no-repeat 0px 25px;
    &__card
        &__mask
            background-color:#000
.section
    &-subtitle
        &__heading
            font-size: 1.20rem
            font-family: 'FuturaBookC', cursive
            line-height: 1.93rem
            text-align: center
                